h {
    position: absolute;
    left: 0;
    right: 0;
}

#div1 {
    height: 100vh;
    width: 100%;
    background-color: #a14343;
}

#div2 {
    display: none;
}

#notaflag {
    background-color: rgb(23, 218, 23);
    position: absolute;
    top: 50%;
    left: 80%;
    border-radius: 10%;
    width: 4%;
    height: 4%;
}